<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Système de Ventess</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Système de Ventes</h1>
    <nav>
      <a href="/home">Accueil</a>
      <a href="/order">Nouvelle Commande</a>
      <a href="/clients">Clients</a>
      <a href="/products">Produits</a>
    </nav>
  </header>

  <main>
    <app-root></app-root>
  </main>

  
</body>
</html>
